[core]
    excludesfile = ~/.gitignore_global
[user]
	email = jeffry.wuermli@gmail.com
	name = Jeffry Würmli
[init]
	defaultBranch = main
[alias]
    st = status
    co = checkout
    br = branch
    ci = commit
    lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
[fetch]
    prune = true